@charset "UTF-8";

#main {
	width: 100%;
	/* height: 1500px; */
	min-width:1280px;
	/* background-color: lightcyan; */
}
#main .section1{
	width: 100%;
	height: 400px;
	margin : 0 auto;
	background-color: royalblue;
}

#main .section2{
	width: 100%;
	height:400px;
	margin: 0 auto;
}

#main .section3{
	width: 100%;
	height:530px;
	background-color:#f3f4f4;
	margin: 10px auto;

}
#main .section4{
	width: 100%;
	height:315px;
	margin: 10px auto;
}

#main .section5{
	width: 100%;
	height:600px;
	background-color:#f3f4f4;
	margin: 0 auto;
	padding: 10px auto;
}
.sectionWrap{margin:0 auto; width:1200px; padding-top:10px;}
	.main_search{
	border:2px; 
	display:flex; 
	margin:40px auto 0; 
	width:40%;}
.title_center{
	text-align:center;
    font-size: xx-large;
    font-weight: 600;
    margin-top:100px;
    color:white;
    font-family:auto;
   }